<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <div class="row">
                <div class="col-5"></div>
                <div class="col-4 text-right">
                    <button class="btn btn-primary" (click)="navigateToAddOrganization()">Add Organization</button>
                </div>
                <div class="col-3 text-right">
                    <button class="btn btn-primary logout" (click)="navigateToLogout()">Logout</button>
                </div>
            </div>
        </div>
    </div>
  
  </div>
  <div class="container-fluid mt-3">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Organization Name</th>
            <th scope="col">Short Name</th>
            <th scope="col">URL</th>
            <th scope="col">Logo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of organizationList; let i = index">
            <th scope="row">{{i +1}}</th>
            <td class="td-wide">{{item.organizationName}}</td>
            <td class="td-narrow">{{item.organizationShortName}}</td>
            <td class="td-wide">{{item.organizationUrl}}</td>
            <td class="td-narrow">{{item.organizationLOGO}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  
  